body {
    padding: 0px;
    margin: 0px;
}

.grid-container {
    border: 0.5px inset rgba(0, 0, 0, 0.35);
    display: grid;
    grid-template-columns: auto auto;
    background-color: lightgrey;
}

.grid-item {
    display: block;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

#sidebar {
    background-color: #c6d72f;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-right: 0.5px inset rgba(0, 0, 0, 0.35);
    margin-left: 0px;
}

.input {
    display: grid;
    position: relative;
    margin: auto;
    top: 20px;
}



.page {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    border: 0.5px inset rgba(0, 0, 0, 0.35);
    max-width: 793px;
    max-height: 1122px;

    min-width: 793px;
    min-height: 1122px;
}

.dragme {
    position: absolute;
    width: 200px;
    height: 200px;

    background-size: 100% 100%;
    background-position: center;

    border: 1px solid black;

    resize: both;
    overflow: hidden;
}

img {
    object-fit: contain;

    max-width: 100%;
    max-height: 100%;
}

.exit {
    position: absolute;
    top: 1px;
    right: 1px;
    background-color: transparent;

}