body {
    padding: 0px;
    margin: 0px;

}

.grid-container {
    border: 0.5px inset rgba(0, 0, 0, 0.35);
    display: grid;
    grid-template-columns: 20% 80%;
    background-color: lightgrey;
    min-height: 100vh;
}

.grid-item {
    display: block;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

#sidebar {
    display: grid;
    grid-template-rows: auto 20%;
    background-color: #c6d72f;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-right: 0.5px inset rgba(0, 0, 0, 0.35);
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;

}

.input {
    display: grid;
    position: relative;
    margin: auto;
    top: 20px;
}



.page {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    border: 0.5px inset rgba(0, 0, 0, 0.35);
    aspect-ratio: 1 / 1.4142135623730950488016887242097;
    min-height: 100%;
    width: auto;
}

.dragme {
    position: absolute;
    width: 200px;
    height: 200px;

    background-size: 100% 100%;
    background-position: center;

    border: 1px solid black;

    resize: both;
    overflow: hidden;
}

img {
    object-fit: contain;

    max-width: 100%;
    max-height: 100%;
}

.exit {
    position: absolute;
    top: 1px;
    right: 1px;
    background-color: transparent;

}